<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css" rel="stylesheet" integrity="sha256-fHWoqb8bPKjLiC7AuV6qy/lt0hrzfwM0ciyAu7Haf5w= sha512-3t2GeiCRNeKhZnUaUMygGiLKZzb/vPhvfw3y1Rt2FCwKuRaLVrOCTpavIYsZ4xqM52mbO7M93NaXbm/9dOA2Og==" crossorigin="anonymous">

<script>
$('#go').click(function() {
    var page1 = $('.image');
    var page2 = $('.title');
    var toHide = page1.is(':visible') ? page1 : page2;
    var toShow = page2.is(':visible') ? page1 : page2;

    toHide.removeClass('flip in').addClass('flip out').hide();
    toShow.removeClass('flip out').addClass('flip in').show();
});
</script>
<p id="notice"><%= notice %></p>

<h1>Listing Pictures</h1>

<table id="cards">

  <thead>
    <tr>
      <th>Triva</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>

 <td class="title"><%= picture.title %></td>
       <td class="image"><button type="button" id="go">FLIP</button><img src="<%= picture.url %>"></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Picture', new_picture_path %>

     <!-- practice shit -->
     <div class="flip-3d">
  <figure>
    <img src="http://demosthenes.info/assets/images/thumbnails/yacht.jpg" alt="">
    <figcaption>Yacht</figcaption>
</figure>
</div>

<div class="flip-3d">
  <figure>
    <img src="http://demosthenes.info/assets/images/thumbnails/bee.jpg" alt="">
    <figcaption>Bee</figcaption>
  </figure>
  </div>
<div class="flip-3d">
  <figure>
    <img src="http://demosthenes.info/assets/images/thumbnails/queenstown.jpg" alt="">
    <figcaption>Queenstown</figcaption>
  </figure>
</div>
